  :invalid {
    background-color: #fee;
	border:3px solid red;
	
  }

  :valid {
    background-color: yellow;
    border-color: #5a5;
  }
 

  :required {
    border-color: #f80;
  }

body {
 font-family:"trebuchet ms",sans-serif;
 font-size:90%;
 }
form {
 background-color:aqua;
 padding:30px;
 width:600px;
 margin-left:auto;
 margin-right:auto;
 }
 
 h2 {
  text-align:center;
  color:#05f;
 }
 
legend {
 color:#DF3F3F;
 font-weight:bold
 }
label {
 margin-top:10px;
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
 background-color:#FFF3F3;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
input[type=submit]:hover, input[type=reset]:hover {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 
 }
 
 .field {
  
 }
 
 #info {
  margin-top:15px;
  margin-bottom:5px;
 }
 
 #boutons {
  margin-top:15px;
  margin-bottom:5px;
 
 }